<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="quotes.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<title>Quotes!</title>
</head>
<body class="bodyClass" ng-controller="myController">
	<div class="centralDiv">
		<div class="headerDiv">
			<h1>Quotes...</h1><button type="submit" class="randomButton" ng-click="randomButton()">Random Quote!</button>
			<form class="formClass" ng-submit="submit()">
				<input type="text" placeholder="New Author" name="New Author" class="authorInput" ng-model="authorToAdd">
				<input type="text" placeholder="New Quote" name="New Quote" class="quoteInput" ng-model="quoteToAdd">
				<input type="submit" value="Submit" class="submitButton">
			</form>
		</div>
		<div ng-repeat="newQuote in quoteArray | orderBy : '-rating'"- class="quoteDiv"><a ng-click="authorClick($index)">Author:{{newQuote.author}}</a>
			<form >
				<select class="ratingSelect" name="Rating" ng-model="newQuote.rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</form>
			<button class="deleteButton" ng-click="deleteClick($index)">Delete??</button>
			<br>Quote:{{newQuote.quote}}
			<br>Rating:{{newQuote.rating}}
		</div> 
			


	</div>
	<script src="quotes.js"></script>
</body>
</html>