<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="quotes.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<title>Quotes!</title>
</head>
<body class="bodyClass" ng-controller="myController">
	<div class="centralDiv">
		<div class="headerDiv">
			<h1>Quotes...</h1>
			<form class="formClass" ng-submit="submit()">
				<input type="text" placeholder="New Author" name="New Author" class="authorInput" ng-model="authorToAdd">
				<input type="text" placeholder="New Quote" name="New Quote" class="quoteInput" ng-model="quoteToAdd">
				<input type="submit" value="submit" class="submitButton">
			</form>
		</div>
		<div ng-repeat="newQuote in quoteArray track by $index" class="quoteDiv">Author:{{newQuote.author}}
		<button class="deleteButton" ng-click="deleteClick()">Delete??</button>
		<br>Quote:{{newQuote.quote}}
		</div> 
			


	</div>
	<script src="quotes.js"></script>
</body>
</html>